.page{
    min-height: 100%;
    width: 100%;
    position: absolute;
    top:40%;
    left:30%;
}
body{
    background-color: black;
    color: chartreuse;
}
.page-header{


    color: rgb(26, 206, 80)
}
.timer_div{
    margin: 100px 0px;
}
#counter{
    position: relative;
    left:25%;
}
h1{
    margin: 20px auto;   
}
button{
    padding: 10px 40px;
    cursor: pointer;
}