.page{
    max-height: 35%;
    width: 26%;
    position: absolute;
    top:30%;
    left:35%;
    border: 5px solid rgb(209, 29, 29);
    border-radius: 50px;
    padding: 40px;
}
@media screen and (max-width:888px){
    .page{
        left:25%;
        font-size: 12px;
        width: 52%;
        
    }
    
}
body{
    background-color: black;
    color: chartreuse;
}
.page-header{


    color: rgb(26, 206, 80)
}
.timer_div{
    margin: 100px 0px;
}
#time{
    color: skyblue ;
}
#counter{
    position: relative;
    text-align: center;
}
h1{
    margin: 20px auto;   
}
button{
    padding: 10px 40px;
    cursor: pointer;
}